form {
    display: flex;
    background-color: lavenderblush;
    border: 3px solid lightpink;
    width: 65%;
    height: 6rem;
    border-radius: .5rem;
    box-shadow: 3px 3px lightgrey;
    align-items: center;
    justify-content: space-evenly;
    padding:12px;
    flex-wrap: wrap;
}

.range-div {
    width: auto;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px) {
    form {
        display: flex;
        background-color: lavenderblush;
        border: 3px solid lightpink;
        width: 80%;
        height: 3rem;
        border-radius: .5rem;
        box-shadow: 3px 3px lightgrey;
        align-items: center;
        justify-content: space-between;
        padding:12px;
        min-width: 650px;
    }
}

